:root{
    --base: #011876;
}
*{
	margin: 0;
	padding: 0;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	box-sizing: border-box;
	cursor: default;
}
html,
html *{
	font-weight: 400;
    font-size: 1em;
	font-family: 'Inter', sans-serif;
    transition: .15s;
}
html{
    background-color: var(--base);
}
a{
    cursor: pointer;
}
#site{
    max-width: 100%;
    animation: slide-in .5s;
}